
<div class="cover" style="background-image:
  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url(<%= image_url('https://askatechteacher.com/wp-content/uploads/2025/01/Natural-Disasters-Presentation.gif') %>);">
  <div class="container">
    <h1><strong>DISASTERS on DEMAND</strong>!</h1>
    <p>Book some Natural Disasters around the world.</p>
    <%= link_to "disasters", "#", class: "btn btn-gradient" %>
  </div>
</div>
