
<div class="cover" style="background-image:
  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url('<%= image_url('bw-storm.gif') %>')">
  <div class="hero-section">
  <div class="particles"></div>
  <h1><strong>DISASTERS on DEMAND</strong>!</h1>
  <p>Apocalypse, just one click away</p>
  <%= link_to "disasters", disasters_path, class: "btn-home" %>
</div>
</div>
