.navbar-lewagon {
  position: relative;
  justify-content: space-between;
  background: linear-gradient(180deg, #e0e0e0, #a0a0a0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
