.navbar-lewagon {
  position: relative;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: whitesmoke;
  z-index: 1000;
}

.navbar-lewagon::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  z-index: -1;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
