.navbar-lewagon {
background: linear-gradient(180deg, #c0c0c0, #707070);
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 1;

  a{
    color: rgb(233, 229, 229);
    font-weight: bolder;
    font-size: larger;
  }
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.btn-toggle {
    display: inline-block;
    position: relative;
    background:#fafafa;
    border-radius: 25px;
    margin-right: 5px;
    padding: 3px;
    width: 180px;
    height: 44px;
    cursor: pointer;
}
