 .bg-cover {
    background-size: cover;        /* Scale image to fill container */
    background-position: center;   /* Center image */
    background-repeat: repeat;
  }

  .text-custom {
  color: rgb(233, 229, 229) !important;
}


  /* Custom glass card class */
  .glass-card {
    background-color: rgba(255, 255, 255, 0.3); /* semi-transparent */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: rgb(233, 229, 229);
    font-weight: bolder;
    font-size: larger;
  }
